[submodule "subprojects/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "subprojects/cglm"]
	path = external/cglm
	url = https://github.com/recp/cglm.git
[submodule "subprojects/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "subprojects/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype
[submodule "subprojects/cgltf"]
	path = external/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "subprojects/harfbuzz"]
	path = external/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "external/flamegraph"]
	path = external/flamegraph
	url = https://github.com/brendangregg/FlameGraph/
