[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw.git
[submodule "subprojects/cglm"]
	path = subprojects/cglm
	url = https://github.com/recp/cglm.git
[submodule "subprojects/stb"]
	path = subprojects/stb
	url = https://github.com/nothings/stb.git
[submodule "subprojects/freetype"]
	path = subprojects/freetype
	url = https://github.com/freetype/freetype
[submodule "subprojects/cgltf"]
	path = subprojects/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "subprojects/miniaudio"]
	path = subprojects/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "subprojects/harfbuzz"]
	path = subprojects/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz
[submodule "subprojects/bear"]
	path = subprojects/bear
	url = https://github.com/rizsotto/Bear.git
[submodule "subprojects/sdl"]
	path = subprojects/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "subprojects/ffmpeg"]
	path = subprojects/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "subprojects/libplacebo"]
	path = subprojects/libplacebo
	url = https://code.videolan.org/videolan/libplacebo.git
[submodule "subprojects/libass"]
	path = subprojects/libass
	url = https://github.com/libass/libass.git
[submodule "subprojects/mpv"]
	path = subprojects/mpv
	url = https://github.com/mpv-player/mpv.git
